<h1>我的资料
<%= link_to("修改个人资料", edit_account_user_path(@user), :class => "btn btn-sm btn-default") %>
</h1>
<div class="">

  <img src= "<%= render_user_avatar(current_user, 90) %>" class="img-responsive">
</div>
<br>

<div class="">
  <table class="table table-bordered">
      <tbody>
        <tr>
          <td>用户名</td>
          <td><%= @user.name %></td>
          <td></td>
        </tr>
        <tr>
            <td>电子邮箱</td>
            <td><%= @user.email %></td>
            <td></td>
        </tr>
        <tr>
          <td>
            密码
          </td>
          <td>
            ******
          </td>
          <td>
          <%= link_to("修改密码", change_password_account_user_path(@user), class: "btn btn-sm btn-default" ) %>
          </td>
        </tr>
    </tbody>
</table>
</div>
