
  <h1>Product List</h1>

  <%= link_to("Add new Prodcut", new_admin_product_path, class: "btn btn-default pull-right") %>
  <br>
  <table class="table grid">
    <thead>
      <tr>
        <td>#</td>
        <td>商品名称</td>
        <td>商品描述</td>
        <td>库存</td>
        <td>价格</td>
        <td>选项</td>
        <td>创建日期</td>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.title %></td>
        <td><%= product.description %></td>
        <td><%= product.quantity %></td>
        <td><%= product.price %></td>
        <td><%= link_to("edit", edit_admin_product_path(product), class:   "btn btn-warning btn-sm") %> | <%= link_to("delete", admin_product_path(product), method: :delete,  class:   "btn btn-danger btn-sm") %></td>
        <td><%= product.created_at.to_s(:short) %></td>
      </tr>

      <% end %>
    </tbody>
  </table>
