<div id="post-<%= post.id %>" class="panel panel-default">
  <div class="panel-heading">
    <img src=" <%= render_user_avatar(post.user, 20) %> " alt="avatar" >
    <b>
      <%= post.user.display_name %> 对商品 「<%= link_to(@product.title, product_path(@product)) %>」 发表了评测《 <%= post.title %>》,
    <span><%= post.created_at.to_s(:short) %></span>
    <% if current_user && current_user == post.user %>
      <%= link_to edit_product_post_path(post.product, post), class: "btn btn-warning btn-xs pull-right", style: "margin-left:0.25em;margin-right:0.25em;", remote: true do %>
        <i class="fa fa-edit"></i>
      <% end %>

      <%= link_to post_path(post), method: :delete, data: { confirm: "您确定要删除该文章吗？" }, class: "btn btn-danger btn-xs pull-right", style: "margin-left:0.25em;margin-right:0.25em;", remote: true do %>
        <i class="fa fa-trash"></i>
      <% end %>
    <% end %>
  </div>

  <div class="panel-body">
    <span id="post-thumbsup-<%= post.id %>" class="label label-success"> <%= post.likes_count %> <i class="fa fa-thumbs-up"></i></span>

    <span id="post-heart-<%= post.id %>" class="label label-success"> <%= post.stars_count %> <i class="fa fa-heart"></i></span>

    <%= render_post_content(post.content) %>

    <%= link_to("评论", post_path(post), class: "btn btn-primary btn-xs pull-right", style: "margin-left:0.5em;margin-right:0.5em;" ) %>

    <%= render :partial => "posts/post_like", locals: { :post => post } %>
    <%= render :partial => "posts/post_star", locals: { :post => post } %>



  </div>
</div>
