
<%= render :partial => "post_item", :locals => { :post => @post} %>

<div>
  <%= simple_form_for [@product, @post, @comment], remote: true do |f| %>
    <div class="form-group">
      <%= f.input :content, label: "发表评论", input_html: { class: "form-control"} %>
    </div>
    <div class="form-group">
      <%= f.submit "Submit", disable_with: "Submiting...", class: "btn btn-primary"%>
    </div>
  <% end %>
</div>


<div id="comment-list">
  <% if @comments.present? %>
    <% @comments.each do |comment| %>
      <%= render :partial => "/comments/comment_item", :locals => {:comment => comment} %>
    <% end %>
  <% else %>
    还有没有评论，赶紧抢沙发。
  <% end %>
</div>
