<div class="row">
  <div class="col-md-6">
    <% if @product.image.present? %>
      <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
    <% else %>
      <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <% end %>
  </div>
  <div class="col-md-6 panel-body">
    <h2> <%= @product.title %> </h2>

    <span class="average-score"><%= @product.average_score %></span>
    <div class="raty" data-score="<%= @product.find_score(current_user).try(:score) || 0 %>" data-score-url="<%= rate_product_path(@product) %>"></div>

    <div style="height:100px;">
      <p>
        <%= @product.description %>
      </p>
    </div>
    <div> 数量 : <%= @product.quantity %> </div>
    <div class="product-price"> ￥ <%= @product.price %> </div>
    <div class="pull-right">
      <% if @product.quantity.present? && @product.quantity > 0 %>
        <%= link_to("加入购物车", add_to_cart_product_path(@product), method: :post, class: "btn btn-lg btn-danger", remote: true) %>
      <% else %>
        已经销售一空，无法购买
      <% end %>
    </div>
  </div>
</div>



<% if current_user %>
  <div id="add-post">
    <%= link_to "新增评测", new_product_post_path(@product), class: "btn btn-success",  remote: true %>
  </div>
<% else %>
  <%= link_to "登录后添加评测", new_user_session_path , class: "btn btn-success" %>
<% end %>

<hr>

<div id="post-list">
  <% if @posts.present? %>
    <% @posts.each do |post| %>
      <%= render :partial => "posts/post_item", locals: { :post => post }%>
    <% end %>
  <% else %>
    <p>暂无评测，快来添加吧
      <%= link_to new_product_post_path(@product) do %>
        <i class="fa fa-edit"></i>
      <% end %>
    </p>
  <% end %>
</div>


<script>
  $(".raty").raty({
   path: '/images/',
   score: function() { return $(this).data('score'); },
   click: function(score) {
     var that = this;
     $.ajax({
       url: $(this).data("score-url"),
       method: "POST",
       data: { score: score },
       dataType: "json",
       success: function(data){
         $(that).closest(".panel-body").find(".average-score").html( data["average_score"] );
       }
     })
   }
  });


  // 记下目前画面最小的贴文 ID
  var current_post_id = <%= @posts.last.id %>;
  var product_id = <%= @product.id %>

  // 当捲轴动的时候，会触发这个事件
  $(window).scroll(function(){
    // 当捲到最下面的时候
    if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
      var url = "/products/" + product_id + "?max_id=" + current_post_id;
      if (url) {
        $.ajax({
          method: "GET",
          url: url,
          dataType: "script"
        })
      } else {
        console.log("data ended")
      }
    }
  })
</script>
