<div class="row">
  <div class="col-md-6">
    <% if @product.image.present? %>
      <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
    <% else %>
      <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <% end %>
  </div>
  <div class="col-md-6">
    <h2> <%= @product.title %> </h2>
    <div style="height:100px;">
      <p>
        <%= @product.description %>
      </p>
    </div>
    <div> 数量 : <%= @product.quantity %> </div>
    <div class="product-price"> ￥ <%= @product.price %> </div>
    <div class="pull-right">
      <% if @product.quantity.present? && @product.quantity > 0 %>
        <%= link_to("加入购物车", add_to_cart_product_path(@product), method: :post, class: "btn btn-lg btn-danger", remote: true) %>
      <% else %>
        已经销售一空，无法购买
      <% end %>
    </div>
  </div>
</div>

<div id="add-post">
  <%= link_to "新增评测", new_product_post_path(@product), class: "btn btn-success",  remote: true %>
  <hr>
</div>

<div id="post-list">
  <% if @posts.present? %>
    <% @posts.each do |post| %>
      <%= render :partial => "posts/post_item", locals: { :post => post }%>
    <% end %><!-- @posts.each do -->

  <% else %><!-- @posts don't present -->
    <p>暂无评测，快来添加吧
      <%= link_to new_product_post_path(@product) do %>
        <i class="fa fa-edit"></i>
      <% end %>
    </p>
  <% end %>
</div>
